@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container, .container-check {
    background: #ffffff;
    padding: 20px;
    border: 4px solid #000000;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #000000;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #ff6347;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 24px);
    box-shadow: 5px 5px 0 #000000;
}

button {
    padding: 10px 20px;
    background-color: #ff6347;
    border: 2px solid #000000;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4500;
    transform: translate(-2px, -2px);
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

p.has-result {
    border: 2px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    background-color: #ffebcd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff6347;
    color: white;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #000000;
}
